.App {
  text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 0s linear;
    height: 40vmin;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Google-logo {
    height: 10vmin;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: 32.5%;
    border-radius: 16px;
    box-shadow: 5px 5px #3a6622;
    border: 2px solid;
}

.App-header {
    background-image: url("backdrop.jpg");
    background-color: #99d68e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(30px + 2vmin);
    color: black;
}

.button {
    position: relative;
    top: -98px;
    background-color: #c8ffaa;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 8px 2px;
    cursor: pointer;
    border: 2px solid;
    padding: 10px;
    box-shadow: 5px 5px #3a6622;
    border-radius: 16px;
}

    .button:hover {
        background-color: #76ba51
    }

    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.App-link {
  color: #61dafb;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    position: relative;
    top: -50px;
   text-align: center;
      
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
